<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>漫天星空</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="index.css" />
	</head>
	<body>
		<div id="stars"></div>
		<div id="stars2"></div>
		<div id="stars3"></div>
		<div id="title">
			<span>
				My Star
			</span>
			<br>
			<span>
				往古来今谓之宙，四方上下谓之宇
			</span>
		</div>
		<audio autoplay="autoplay" loop="true">
			<source src="./static/video/Cure%20the%20starry%20sky.mp3">
		</audio>
	</body>
</html>
